html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  /* overflow: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

::placeholder {
  color: white;
  font-size: 0.8em;
}

.simplebar-track.simplebar-vertical {
  width: 8px !important;
}
